.partners{
    font-size: 25px;
    text-align: center;
    justify-content: center;
}
.partners h1{
    color: green;
    text-decoration: none; 
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 45px;
    margin-bottom: 100px;
}
.partners h1 span{
    color: black;
    text-decoration: underline solid green;
}
.partner_table{
    width: 90%;
    height: auto;
    text-align: center;
    justify-content: center;
}
.partner_table tr td{
    border-bottom: 1px solid #ddd;
}
.partner_table a{
    text-decoration: none;
}
.partner_table tr td img{
    margin-top: 30px;
    width: 270px;
    height: 270px;
    border-radius: 15px;
    transition: all .4s;
}
.partner_table tr td img:hover{
    cursor: pointer;
    scale: 1.07;
}
.partner_table tr td h3{
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    margin-bottom: 25px;
    color: green;
    transition: all .4s;
}
.partner_table tr td h3:hover{
    color: black;
}
.partner_table button{
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: green;
    border: 2px solid green;
    padding: 15px 30px;
    border-radius: 12px;
    transition: all .4s;
    margin-bottom: 25px;
}
.partner_table button:hover{
    cursor: pointer;
    scale: 1.07;
    box-shadow: 3px 6px 6px black;
    color: green;
    background-color: white;
}
.partner_info{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgb(218, 218, 217);
    border-radius: 15px;
    width: 370px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transition: all .4s;
}
.partner_info:hover{
    scale: 1.08;
    box-shadow: 7.5px 15px 15px rgb(66, 66, 66);
}

